Simulado da A2 de Linguagens de Programação – 17/11/2017
--
Professor: Renato Rocha Souza  
--

Nome do Aluno(a):

In [1]:
meu_nome = input('Entre com o seu nome completo: ')
print('Olá, {}!'.format(meu_nome))
print('Bom trabalho!')

Entre com o seu nome completo: harllos
Olá, harllos!
Bom trabalho!

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import requests
import random
import re
import string
import time
import pymysql
import sqlite3
import getpass
import pandas.io.sql as psql
import networkx as nx
from IPython.display import clear_output
%matplotlib inline

Questão 1 (2,0 pontos)  


Utilizando Python, crie um banco de dados no sqlite que guarde a seguinte estrutura:


| id (integer) | nome (text)    | data_nascimento (text)    | peso (real) | altura (real) | imc (real) | Gênero  (text) |
|--------------|----------------|---------------------------|-------------|---------------|------------|----------------|
| 1            | Anitta         | "1980-10-10 00:00:00.000" | 56          | 160           | 0          | POP            |
| 2            | Caetano Veloso | "1956-01-23 00:00:00.000" | 57          | 165           | 0          | MBP            |
| 3            | Roberto Carlos | "1943-05-12 00:00:00.000" | 69          | 172           | 0          | MPB            |
| 4            | Ivete Sangalo  | "1973-05-21 00:00:00.000" | 60          | 170           | 0          | AXÉ            |
| 5            | Wesley Safadão | "1982-09-07 00:00:00.000" | 77          | 181           | 0          | POP            |


Após a estrutura gerada, crie um script que calcule e corrija o IMC da tabela pela fórmula:  


$\large IMC = \frac{Peso}{Altura^{2}}$


Veja: https://sqlite.org/datatype3.html

In [12]:
conn = sqlite3.connect('cantores.db')
cur = conn.cursor()

In [13]:
#criando a tabela
cur.execute('''CREATE TABLE cantores(id INTEGER PRIMARY KEY, nome TEXT,
                       data_nascimento DATE, peso INT, altura INT, imc INT, genero TXT);''')

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 88))

OperationalError: table cantores already exists

In [14]:
cantores = [(1,'Anitta', 1980-10-10, 56, 160, 0, 'POP'),
             (2,'Caetano Veloso', 1956-1-23, 57, 165, 0, 'MBP'),
             (3,'Roberto Carlos', 1943-5-12, 69, 172, 0, 'MPB'),
             (4,'Ivete Sangalo', 1973-5-21, 60, 170, 0, 'AXÉ'),
             (5,'Wesley Safadão', 1982-9-7,77,181,0,'POP')
            ]
cur.executemany('INSERT INTO cantores VALUES (?,?,?,?,?,?,?)', cantores)

IntegrityError: UNIQUE constraint failed: cantores.id

In [15]:
for row in cur.execute("PRAGMA table_info([cantores]);"):
    print(row)

(0, 'id', 'INTEGER', 0, None, 1)
(1, 'nome', 'TEXT', 0, None, 0)
(2, 'data_nascimento', 'DATE', 0, None, 0)
(3, 'peso', 'INT', 0, None, 0)
(4, 'altura', 'INT', 0, None, 0)
(5, 'imc', 'INT', 0, None, 0)
(6, 'genero', 'TXT', 0, None, 0)

In [16]:
for row in cur.execute("select * from cantores;"):
    print(row)

(1, 'Anitta', 1960, 56, 160, 0, 'POP')
(2, 'Caetano Veloso', 1932, 57, 165, 0, 'MBP')
(3, 'Roberto Carlos', 1926, 69, 172, 0, 'MPB')
(4, 'Ivete Sangalo', 1947, 60, 170, 0, 'AXÉ')
(5, 'Wesley Safadão', 1966, 77, 181, 0, 'POP')

In [17]:
q1 = '''select nome, peso, altura from cantores;'''

imc = {}

cur.execute(q1)
res = cur.fetchall()
for r in res:
    imc[r[0]] = r[1]/(r[2]*r[2])
    q2 = 'UPDATE cantores SET imc=' + str(imc[r[0]]) + ' WHERE nome is \'' + str(r[0]) + '\';'
    cur.execute(q2)
    

print(imc)

{'Wesley Safadão': 0.00235035560575074, 'Anitta': 0.0021875, 'Caetano Veloso': 0.00209366391184573, 'Roberto Carlos': 0.002332341806381828, 'Ivete Sangalo': 0.0020761245674740486}

Questão 2 (2.0 pontos)  

Conecte ao banco SQLite e responda:
- Quantos artistas/bandas (artists) possuem nomes (Name) começando com a letra "L"?
- Quais as 5 faixas (tracks) mais longas?
- Quais são os nomes (Name) dos artistas (artists) que as gravaram?
- Qual o gênero (Genre) que possui, em média, as faixas (tracks) mais longas?
- Qual o gênero (Genre) que possui, em média, as faixas (tracks) mais caras?

In [22]:
conn = sqlite3.connect('Dados/chinook.sqlite.db')
cur = conn.cursor()

# seu código aqui

OperationalError: unable to open database file

In [23]:
db = sqlite3.connect('FGV_Programming_Langugaes/Python/Dados/chinook.sqlite.db')

OperationalError: unable to open database file

Questão 3 (3.0 pontos)  (questão desafiante!!)

Com o banco de dados da questão anterior, crie um grafo utilizando o pacote networkx do Python, de modo que os artistas estejam ligados ao gênero a que pertence a maioria de suas músicas. Diferencie com atributos os nós de artista e de gênero.

https://networkx.github.io/  
https://networkx.github.io/documentation/stable/tutorial.html#directed-graphs 
https://networkx.github.io/documentation/stable/tutorial.html#adding-attributes-to-graphs-nodes-and-edges  
https://networkx.github.io/documentation/stable/tutorial.html#drawing-graphs

In [ ]:
# seu código aqui

Questão 4 (1.5 pontos) 

Pedro, coitado, programa em R há muitos anos, mas gostaria de migrar para Python, uma linguagem muito mais poderosa. Ajude-o a converter o código abaixo para Python:

In [ ]:
countdown <- function(from)
{
  print(from)
  while(from!=0)
  {
    Sys.sleep(1)
    from <- from - 1
    print(from)
  }
}

countdown(5)

In [ ]:
#seu código aqui

Questão 5 (1.5 pontos) 

Vitória é uma excelente programadora em C. Nos últimos tempos - mas isso ela não admitiria - tem se convencido de que Python é uma escolha mais razoável para sua vida acadêmica. Ajude-a a converter o código abaixo para Python:

In [ ]:
#include <stdio.h>
int main()
{
    int n, reversedInteger = 0, remainder, originalInteger;

    printf("Enter an integer: ");
    scanf("%d", &n);

    originalInteger = n;

    // reversed integer is stored in variable 
    while( n!=0 )
    {
        remainder = n%10;
        reversedInteger = reversedInteger*10 + remainder;
        n /= 10;
    }

    // palindrome if orignalInteger and reversedInteger are equal
    if (originalInteger == reversedInteger)
        printf("%d is a palindrome.", originalInteger);
    else
        printf("%d is not a palindrome.", originalInteger);
    
    return 0;
}

In [3]:
#seu código aqui

Questão Bônus (0,5 pontos)  

Alexandrino gosta muito de LISP, mas - poucos sabem - secretamente acalenta o sonho de programar em Python. 
Ajude-o a converter o código abaixo para Python:

In [ ]:
(defun get-max-value (list)
  (let ((ans (first list)))
    (do ((i 1 (1+ i)))
        ((>= i (length list)) ans)
      (when (> (nth i list) ans)
        (setf ans (nth i list))))))

In [ ]:
#seu código aqui